.project-card {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 3em;
    padding-bottom: 3em;
    width: 100%;

    .images-container {
        width: 45%;
        padding-left: 5em;
        padding-right: 5em;

        .slick-next::before {
            color: #FDAFB0;
        }

        .slick-prev::before {
            color: #FDAFB0;
        }

        .slick-dots li button:before {
            color: #FDAFB0;
        }

        img {
            width: 100%;
            transition: all 0.2s ease;
            max-width: 100%;
            display: block;

            &:hover {
                transform:scale(1.1);
            
            }
        }
    }

    .text-container {
        width: 50%;
        padding-left: 5em;
        padding-right: 5em;

        h2 {
            font-size: 2em;
            margin: 0;
        }

        h3 {
            font-family: 'Nanum Square', sans-serif;
            font-weight: 700;
            margin: 0;
            font-size: 1.6em;
        }
        

        p {
            font-family: 'Nanum Square', sans-serif;
            font-weight: 400;
            font-size: 1.4em;
            color: #666666
        }

        .view-more-container { 
    
            .download-button {
                width: 7em;
                margin: 10px;
                margin-left: 0;
                margin-right: auto;
                border: 2px solid #FDAFB0;
                text-align: center;
                position: relative;
                overflow:hidden;
                transition: .3s;
    
                a {
                    display: block;
                    height: 100%;
                    padding: 0.95em 1em;
                    color: #FDAFB0;
                    text-decoration: none;
    
                }
                
                &:after {
                    position: absolute;
                    transition: .3s;
                    content: '';
                    width: 0;
                    left: 50%;
                    bottom: 0;
                    height: 3px;
                    background: #FDAFB0;
                    height: 120%;
                    left: -10%;
                    transform: skewX(15deg);
                    z-index: -1;
                }
    
                &:hover {
                    cursor: pointer;
                    &:after {
                        width: 120%;
                        left: -10%;
                    }
    
                    a {
                        color: white;
                    }
                }
            }
        }
    }
}

.reverse {

    flex-direction: row-reverse;

    .text-container {
        text-align: right;

        .view-more-container {
            .download-button {
                margin-left: auto;
                margin-right: 0;
            }
        }
    }
    
}

@media only screen and (max-width: 961px) {
    .project-card {
        flex-direction: column;
        padding-top: 0em;

        .images-container {
            width: 100%;

        }

        .text-container {
            width: 80%;
            text-align: center;
            h2 {
                padding-top: 2em;
            }
            p {
                font-size: 1.4em;
            }

            .view-more-container {
                .download-button {
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }

    .reverse {
        flex-direction: column!important;
        padding-top: 0em!important;

        .images-container {
            width: 100%!important;

        }

        .text-container {
            width: 80%!important;
            text-align: center!important;
            p {
                font-size: 1.4em!important;
            }

            .view-more-container {
                .download-button {
                    margin-left: auto!important;
                    margin-right: auto!important;
                }
            }
        }
    }
}   