.circle-detail-page {
    .back-arrow {
        position: fixed;
        padding: 1em; /* Arrow size */
        box-shadow: 2px -2px 0 2px black inset;
        -webkit-box-shadow: 4px -4px black inset;

        border: solid transparent;
        border-width: 0 0 3rem 3rem;
        transition: 0.2s;
        transform:rotate(45deg);
        z-index: 999;
    }

    .back-arrow:hover {
        box-shadow: 3px -3px 0 3px black inset;
        -webkit-box-shadow: 5px -5px black inset;
        cursor: pointer;
    }

    .larger {
        text-align: center;
        font-size: 2em;
        margin-top: 0;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        color: white;
        background-color: pink;
    }
    display: flex;
    flex-direction: column;
    width: 100%;
}