@import url('https://fonts.googleapis.com/css?family=Open+Sans|Noto+Serif');

.header {
    height: 4em;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color:#FDAFB0;
    margin-left: 2em;
    margin-right: -2em;
    overflow-x: hidden;

    .logo-container {
        padding-left: 5em;
        padding-right: 5em;
        background-color: transparent;
        border: 0;
        outline: none;

        .moon-logo {
            width: 4em;
            height: 4em;
            transition: .3s;
            opacity: 0.9;

            &:hover {
                cursor: pointer;
                opacity: 1.0;
            }
        }
    }

    .nav-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 40em;
        padding-right: 3em;

        .nav-item {
            flex: 1 1 auto;
            margin: 10px;
            padding: 10px;
            text-align: center;
            position: relative;
            overflow:hidden;
            font-family: 'Poppins', sans-serif;
            font-size: 1.3em;
            transition: .3s;
            color: white;
            background-color: transparent;
            border: 0;
            outline: none;
            
            &:after {
                position: absolute;
                transition: .3s;
                content: '';
                width: 0;
                left: 50%;
                bottom: 0;
                height: 3px;
                background: #f7f7f7;
            }
            &:hover {
                cursor: pointer;
                &:after {
                  width: 100%;
                  left: 0;
                }
            }
        }
    }
}

@media only screen and (max-width: 961px) {
    .header {
        margin-left: 0;
        visibility: hidden;
    }
}   