@import url('https://fonts.googleapis.com/css?family=Poppins|Noto+Serif');
@import url('../node_modules/typeface-nanum-square/nanumsquare.css');
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

html {
  overflow-x: hidden;
}

body {
  font-family: 'Nanum Square', sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

p {
  white-space: pre-line;
}

.background-pink {
  position: absolute;
  height: 25em;
  width: 100%;
  background-color: #FDAFB0;
  overflow: hidden;
  z-index: -1;
}

h1 {
  font-size: 2.5em;
  color: #FDAFB0;
}

.bm-burger-button {
  visibility: hidden;
}


@media only screen and (max-width: 961px) {
  .background-pink {
    margin-left: 0;
  }

  /* Position and sizing of burger button */
  .bm-burger-button {
    position: fixed;
    width: 2em;
    height: 1.7em;
    left: 2em;
    top: 2em;

    visibility: visible;
  }

  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: black;
    
  }

  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }

  /* Color/shape of close button cross */
  .bm-cross {
    background: white;
  }

  /* General sidebar styles */
  .bm-menu {
    background: #373a47;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
    background-color: #FDAFB0;
    overflow: hidden!important;
  }

  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }

  /* Wrapper for item list */
  .bm-item-list {
    color: white;
    padding: 0.8em;
    overflow: hidden;
  }

  /* Individual item */
  .bm-item {
    display: inline-block;
  }

  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }

  .nav-item {
    flex: 1 1 auto;
    margin: 10px;
    padding: 10px;
    text-align: center;
    position: relative;
    overflow:hidden;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3em;
    transition: .3s;
    color: white;
    background-color: transparent;
    border: 0;
    outline: none;
    
    &:after {
        position: absolute;
        transition: .3s;
        content: '';
        width: 0;
        left: 50%;
        bottom: 0;
        height: 3px;
        background: #f7f7f7;
    }
    &:hover {
        cursor: pointer;
        &:after {
          width: 100%;
          left: 0;
        }
    }
  }
}   